{% extends "layout.html" %}

{% block title %}
	Über
{% endblock %}

{% block mainContent %}
	<h1>Über</h1>
	<br>
	<!-- Hier kann eigene Beschreibung eingefügt werden -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam quasi saepe facilis sint eos voluptatem libero cupiditate, nisi totam earum, tempora corporis aperiam eaque. Ab, quibusdam laborum doloremque nam commodi!</p>

	<!-- Content darf nicht verändert werden -->
	<hr>
	<br>
	<p>Das ist ein Python basierter Blog.</p>
	<p>Programmiert wurde er von <a href="http://twitter.com/niklashck/" target="_blank">@niklashck</a>.</p>
{% endblock %}