{% extends "layout.html" %}

{% block title %}
	Start
{% endblock %}

{% block header %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}

{% block mainContent %}
	<h1>Blogsystem</h1>
	<div class="posts">
		{% for elem in rows %}
			<div class="post">
				<h2><a href="/post/{{ elem[4] }}">{{ elem[0] }}</a></h2>
				<p>Eingetragen am {{ elem[1] }} von {{ elem[2] }}</p>
				<hr>
				<p>{{ elem[3]|safe }}</p>
				{% if elem[5] == None == elem[6] %}
					<b><i class="fa fa-thumbs-o-up"></i>&nbsp;0 | 0&nbsp;<i class="fa fa-thumbs-o-down"></i></b>
				{% elif elem[6] == None %}
					<b><i class="fa fa-thumbs-o-up"></i>&nbsp;{{ elem[5] }} | 0&nbsp;<i class="fa fa-thumbs-o-down"></i></b>
				{% elif elem[5] == None %}
					<b><i class="fa fa-thumbs-o-up"></i>&nbsp;0 | {{ elem[6] }}&nbsp;<i class="fa fa-thumbs-o-down"></i></b>
				{% else %}
					<b><i class="fa fa-thumbs-o-up"></i>&nbsp;{{ elem[5] }} | {{ elem[6] }}&nbsp;<i class="fa fa-thumbs-o-down"></i></b>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
