<!doctype html>
<html lang="de">
	<head>
		<title>{% block title %}{% endblock %} ~ Blog</title>
		<meta charset="utf-8" >
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
		<script src="{{ url_for('static', filename='js/style.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		{% block header %}{% endblock %}
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Blog</a>
				</div>

				<div class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="{{ url_for('index') }}"><i class="fa fa-home"></i>&nbsp;Startseite</a></li>
						<li><a href="{{ url_for('about') }}"><i class="fa fa-question-circle"></i>&nbsp;Über</a></li>
						{% if "username" in session %}
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ session["username"] }} <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{ url_for('dashboardPage') }}"><i class="fa fa-tachometer"></i>&nbsp;Dashboard</a></li>
									<li><a href="{{ url_for('profilePage') }}"><i class="fa fa-user"></i>&nbsp;Profil</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="{{ url_for('logoutPage') }}"><i class="fa fa-sign-out"></i>&nbsp;Ausloggen</a></li>
								</ul>
							</li>
						{% else %}
							<li><a href="{{ url_for('loginPage') }}"><i class="fa fa-sign-in"></i>&nbsp;Einloggen</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			{% block mainContent %}{% endblock %}
		</div>
		<footer class="footer">
			<div class="container">
				<p class="text-muted">
					<span class="left">Blog System by <a href="http://twitter.com/niklashck">@niklashck</a></span>
					<img src="https://www.python.org/static/community_logos/python-powered-w-70x28.png" alt="Python Powered" />
					<span class="right">&copy; Niklas Tom Hucke Jan. 2016</span>
				</p>
			</div>
		</footer>
	</body>
</html>
