{% extends "layout.html" %}

{% block title %}
    Registrieren
{% endblock %}

{% block header %}
    <script src="{{ url_for('static', filename='js/passwd.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/passwd.css') }}">
{% endblock %}

{% block mainContent %}
    <!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
    <div class="logo">Registrieren</div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <!-- Main Form -->
    <div class="login-form-1">
        <form id="register-form" class="text-left" method="post">
            <div class="login-form-main-message"></div>
            <div class="main-login-form">
                <div class="login-group">
                    <div class="form-group">
                        <label for="reg_username" class="sr-only">Benutzername</label>
                        <input type="text" class="form-control" id="reg_username" name="username" placeholder="Benutzername">
                    </div>
                    <div class="form-group">
                        <label for="reg_email" class="sr-only">Email</label>
                        <input type="text" class="form-control" id="reg_email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="reg_password" class="sr-only">Passwort</label>
                        <input type="password" class="form-control" id="password" name="passwd" placeholder="Passwort">
                        <div class="pwstrength_viewport_progress"></div>
                    </div>
                    
                    <div class="form-group">
                        <label for="reg_password_confirm" class="sr-only">Passwort bestätigen</label>
                        <input type="password" class="form-control" id="reg_password_confirm" name="passwdconfirm" placeholder="Passwort bestätigen">
                    </div>
                </div>
                <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
            </div>
            <div class="etc-login-form">
                <p>Du hast bereits einen Account? <a href="{{ url_for('loginPage') }}">Einloggen!</a></p>
            </div>
        </form>
    </div>
    <!-- end:Main Form -->
</div>
{% endblock %}
